body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff; /* Jasno niebieski kolor tła */
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 70%;
    margin: auto;
    background-color: #b0e0e6; /* Jasno niebieski kolor tabeli */
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #4682b4; /* Ciemniejszy niebieski kolor nagłówka */
    color: white;
}